---
import Vignette from "../components/Vignette.astro";
import Base from "./Base.astro";

export interface Props {
    frontmatter: {
        title: string;
        date: string;
        minutesRead: {
            text: string;
        };
    };
}

const { frontmatter } = Astro.props;
---

<Base title={frontmatter.title}>
    <Vignette />
    <nav class="flex h-10 items-center bg-surface0 px-8 sm:h-12">
        <h1 class="neon mx-auto text-xl sm:mx-0 sm:text-2xl">
            {"> "}<span class="text-blue"
                ><a href="/">Neal Wang</a>'s <a href="/blog">Blog</a></span
            >{" <"}
        </h1>
    </nav>
    <div class="flex">
        <div class="m-auto mt-8 w-full px-4 sm:mt-12 sm:px-16 lg:w-1/2 lg:px-0">
            <header class="mb-4 border-b border-surface0 pb-4 sm:mb-8 sm:pb-8">
                <h1 class="neon mb-2 text-3xl italic text-lavender sm:text-4xl">
                    {frontmatter.title}
                </h1>
                <h2 class="text-mauve">
                    {frontmatter.date} • {frontmatter.minutesRead.text}
                </h2>
            </header>
            <div
                id="mdx-content"
                class="mb-8 border-b border-surface0 pb-12 font-['Patrick_Hand'] text-lg md:text-xl"
            >
                <slot />
            </div>
            <footer class="flex w-full">
                <p class="mx-auto mb-8 lg:mb-16">
                    Neal Wang • {frontmatter.title} • {frontmatter.date}
                </p>
            </footer>
        </div>
    </div>
</Base>
